BR2_i386=y
BR2_x86_i686=y

BR2_TOOLCHAIN_BUILDROOT_VENDOR="ponyatov"

## toolchain

BR2_CCACHE=y
BR2_OPTIMIZE_FAST=y
BR2_BINUTILS_VERSION_2_32_X=y
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS="--disable-nls"
BR2_GCC_VERSION_8_X=y
BR2_EXTRA_GCC_CONFIG_OPTIONS="--disable-nls"
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_GRAPHITE=y

## change for release

BR2_TOOLCHAIN_BUILDROOT_WCHAR=n
BR2_TOOLCHAIN_BUILDROOT_CXX=n
BR2_GCC_ENABLE_OPENMP=n

## debug

BR2_ENABLE_DEBUG=y
BR2_STRIP_strip=n
BR2_PACKAGE_HOST_GDB=y
BR2_GDB_VERSION_8_2=y

## kernel options

BR2_KERNEL_HEADERS_4_19=y

## misc

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y


## configured in /kvx/Makefile

